<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joey.foodfinderfinal1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:usesCleartextTraffic="false"
        android:allowBackup="true"
        android:icon="@drawable/ic_restaurant"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_restaurant"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodFinderFinal1">
        <activity
            android:name="com.joey.foodfinderfinal1.FavouritesActivity"
            android:exported="false" />
        <activity
            android:name="com.joey.foodfinderfinal1.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.joey.foodfinderfinal1.RegisterActivity" android:exported="false" />
        <activity android:name="com.joey.foodfinderfinal1.MainActivity" android:exported="false" />
        <activity android:name="com.joey.foodfinderfinal1.RestaurantDetailActivity" android:exported="false" />
        <activity android:name="com.joey.foodfinderfinal1.ChatActivity" android:exported="false" />
        <activity android:name="com.joey.foodfinderfinal1.ProfileActivity" android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_MAPS_API_KEY" />
    </application>

</manifest>